	ul.dentro{
		list-style-position:inside;
		padding-top: 5px;
	}
	li.dentroli{
		list-style-position:inside;
		padding-top: 10;
	}
	.header_section {
		background-color: #000000;
		font-family: "Poppins", sans-serif;
	}
	.container-fluid {
	  width: 100%;
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	}
	.navbar {
	  position: relative;
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	  -ms-flex-align: center;
	  align-items: center;
	  -ms-flex-pack: justify;
	  justify-content: space-between;
	  padding: 0.5rem 1rem;
	}
	.navbar-expand-lg {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}